@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

/*General
-----------------------------------*/
html,body {
    height:100%;
    font-size:15px;
    font-family: 'Roboto', sans-serif;
    font-weight:400;
    letter-spacing: 0.5px;
    overflow: hidden;
}
.pull-right{
    float:right;
}
.pull-left{
    float:left;
}
article{
    background-color:#fff;
    width:100%;
    height:100%;
    display: table;
    position: absolute;
}
.fluid-cont{
    display: table-cell;
    vertical-align: middle;
}
.container{
    width:845px;
    margin:auto;
}
a,a:hover,a:focus{
    text-decoration:none;
    color:inherit;
}
*,*:focus{
    outline:none;
}
a,button{
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
/*
-----------------------------------*/


/*Homepage
-----------------------------------*/
#navigationMenu{
    margin:auto;
    width:600px;
}
.btn {
    background-color: #000;
    border: 1px solid #000000;
    border-radius: 0;
    color: #fff;
    font-size: 25px;
    height: 60px;
    line-height: 45px;
    padding: 0 30px;
    font-weight: 600;
}
.btn.first{
    margin-right: 50px;
}

.btn:hover{
    background-color: #fff;
    color:#000;
}

/*
------------------------------------*/



/*Header
----------------------------------------*/
nav#header{
    background-color:#000000;
    color: #A2A2A2;
}
.topbar-left > ul {
    float: left;
    margin: 0;
    padding: 0;
}
.topbar-left ul li{
    display:inline;
    margin-right:20px;
    text-transform: uppercase;
    font-weight:600;
}
.topbar-left{
    margin:auto;
    width: 250px;
}
.topbar-left > a {
    background: none repeat scroll 0 0 #838383;
    border-radius: 10px;
    color: #414141;
    float: left;
    font-size: 11px;
    line-height: 15px;
    margin: 3px 10px 0 0;
    padding: 0 10px;
}
.topbar-left a:hover{
    color:#ffffff;
}
/*
----------------------------------------*/

/*Planner
-----------------------------------*/

/* animations */
@-webkit-keyframes wiggle {
    25% {
        -webkit-transform: rotate(-5deg);
    }
    75% {
        -webkit-transform: rotate(5deg);
    }
}
@-moz-keyframes wiggle {
    25% {
        -moz-transform: rotate(-5deg);
    }
    75% {
        -moz-transform: rotate(5deg);
    }
}
@keyframes wiggle {
    25% {
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
    75% {
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        -o-transform: rotate(5deg);
        transform: rotate(5deg);
    }
}
@-webkit-keyframes bounceOut {
    20% {
        -webkit-transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(0);
        opacity: 0;
    }
}
@-moz-keyframes bounceOut {
    20% {
        -moz-transform: scale(1.1);
    }
    100% {
        -moz-transform: scale(0);
        opacity: 0;
    }
}
@keyframes bounceOut {
    20% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }
}
@-webkit-keyframes show {
    0% {
        opacity:0;
        transform: scale(0.5);
    }
    70% {
        transform: scale(1.02);
    }
    100% {
        opacity:1;
        transform: scale(1);
    }
}

li{
    display:block;
    position:relative;
}
article#plannerView{
    background-image:url("../assets/img/bg-img.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
#todoList{
    width: 510px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 23px;
    margin: auto;
    border-radius: 10px;
}
#listTitel{
    background-color:#000;
    color:#ffffff;
    margin-bottom:10px;
    padding: 7px 7px 7px 20px;
    width:100%;
}
#innerList,h1{
    width:100%;
}
h1{
    font-size:22px;
    margin:0;
}
.iconDone{
    position:absolute;
    right: 20px;
    top: 12px;
}
#listContent ul li {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.todo-item.ng-enter {
    -webkit-animation: show 0.4s ease-in-out;
    -moz-animation: show 0.4s ease-in-out;
    animation: show 0.4s ease-in-out;
}
.todo-item.ng-leave {
    -webkit-animation: bounceOut 0.4s linear;
    -moz-animation: bounceOut 0.4s linear;
    animation: bounceOut 0.4s linear;
}
.glyphicon {
    cursor: pointer;
}
.glyphicon:hover {
    color:#ff0000;
    -webkit-animation: wiggle 0.4s linear infinite;
    -moz-animation: wiggle 0.4s linear infinite;
    animation: wiggle 0.4s linear infinite;
}
input{
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    width:100%;
    padding:10px;
    border:1px solid rgb(238, 238, 238);
    color:#747474;
}
input:hover {
    border: 1px solid #ff0000;
    box-shadow: 0 0 5px #ff0000;
}
p{
    margin:0;
}


/*Snake
----------------------------------------*/
canvas{
    position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}
#snakePage{
    background-color:#000000;
}
.topPlayers{
    font-family: 'Press Start 2P', cursive;
    position:relative;
    color:#ffffff;
    top:180px;
    left:2%;
    font-size:17px;
}
.topPlayers ul{
    text-align:center;
}
.topPlayers h1{
    font-size:24px;
    font-weight:700;
    text-align:center;
    margin-bottom:15px;
}
/*
----------------------------------------*/